<html><head><title><%=d[0].name%></title></head> 
<body>

<h1><%=d[0].name%></h1>
<form id='details' method='POST' action='/update' enctype="multipart/form-data">
<input type="hidden" name="id" value="<%=d[0]._id%>"><br>

<img src='data:<%=d[0]["photo-mimetype"]%>;base64,<%=d[0]["photo"]%>' /></br>



Name: <input type="text" name="name" value="<%=d[0].name%>" ><br>
<% if (d[0].borough) { %>Borough: <input type="text" name="borough" value="<%=d[0].borough%>" ><br>
<%}else{%>
Borough: <input type="text" name="borough" value="" ><br><%}%>
<% if (d[0].cuisine) { %>Cuisine: <input type="text" name="cuisine" value="<%=d[0].cuisine%>" ><br>
<%}else{%>
Cuisine:<input type="text" name="cuisine" value=""><br><%}%>
Address:<br>
<% if (d[0].address) { %>
<% if (d[0].address.street.length > 0) { %>
<input type="text" name="street" value="<%=d[0].address.street%>" >
<%}else{%>
<input type="text" name="street" value=""><%}%>,
<% if (d[0].address.building.length > 0) { %>
<input type="text" name="building" value="<%=d[0].address.building%>" ><br>
<%}else{%>
<input type="text" name="building" value=""><%}%>
<br>
<%}else{%>
<input type="text" name="street" value="">
<input type="text" name="building" value=""><br>
<%}%>
Zipcode:<br>
<% if (d[0].address.zipcode) { %>
<input type="text" name="zipcode" value="<%=d[0].address.zipcode%>" ><br>
<%}else{%>
<input type="text" name="zipcode" value=""><br><%}%>
Coord:<br>


<%if (d[0].address.coord){ %>
<% if (d[0].address.coord.length == 2){%>
<input type="text" name="lon" value="<%=d[0].address.coord[0]%>" >,
<input type="text" name="att" value="<%=d[0].address.coord[1]%>" ></br>
<%}else{%>
<input type="text" name="lon" value="">
<input type="text" name="att" value="">
<%}%>
<a href= "http://www.google.com/maps/place/<%=d[0].address.coord[0]%>,<%=d[0].address.coord[1]%>">Google Map</a>
<br>
<%}else{%>
<input type="text" name="lon" value="" >
<input type="text" name="att" value="" >
<%}%>
<br>
			
File:<input type="file" name="filetoupload"><br>			

<input type="hidden" name="owner" value="<%=d[0].owner%>" readonly><br>
</form>
<button type="submit" form="details" value="Edit">Edit</button><br>

<form id='del' method="POST" action="/delete">
<input type="hidden" name="id" value="<%=d[0]._id%>"/>
<input type="hidden" name="owner" value="<%=d[0].owner%>" readonly>
<button type="submit" form="del" value="Delete">Delete</button><br>
</form>

<!-- <a href=/delete?_id=<%=d[0].id%>&<%=d[0].owner%>>Delete <%=d[0].name%></a> -->

</body>
</html> 